body  
        {
        background-color:  rgb(197, 228, 248);

        }
     h1{
        color:rgb(118, 193, 243)
     }
     h2
     { color:rgb(118, 193, 243)

     }
     h3{
        color:rgb(118, 193, 243)
     }
        hr
        {
            
            border-style: none;
            border-top-style: dotted;
            border-color: grey;
            border-width :3px;
            width: 6%;

        }

         .heading{
            margin:40px;
           text-align:center
         }

         .table{
           margin:auto
           
         }